.maeztra-generic-banner {
  margin: 50px 0;
  display: flex;
  height: 480px;
  overflow: hidden;

  > .maeztra-generic-banner-content {

    > h2 {
      font-family: var(--main-font-family);
      font-weight: 700;
      font-size: 32px;
      color: var(--secondary-color);
    }
  }

  > .maeztra-generic-banner-image {
    width: 1114px;
    height: 684px;
  }
}