.maeztra-footer {
  padding-top: 20px;
}

.maeztra-footer-columns {
  display: flex;
  justify-content: space-around;
  margin-bottom: 120px;
  min-height: 120px;
}

.maeztra-footer-left,
.maeztra-footer-middle,
.maeztra-footer-right {
  display: grid;

  > span {
    margin: 5px 0;
  }
}

.bold {
  font-weight: bold;
}

.maeztra-footer-bottom {
  display: flex;
  justify-content: space-around;
  background-color: var(--secondary-color);
  height: 85px;

  > .maeztra-footer-bottom-images {
    padding-top: 20px;

    > img {
      margin-top: 10px;
      margin-right: 20px;
      cursor: pointer;
    }

    > div {
      display: flex;
      justify-content: space-between;

      > div {
        display: grid;
        margin-right: 30px;
        cursor: pointer;

        > span {
          font-family: 'Open Sans';
          font-weight: 400;
          font-size: 10px;
          line-height: 13.62px;
          color: var(--primary-color);
        }

        > .maeztra-footer-image-light {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .maeztra-footer {

    > .maeztra-footer-columns {
      display: grid;
      justify-content: start;
      margin-left: 50px;
    }

    > .maeztra-footer-bottom {
      height: 233px;
      display: grid;
      padding-top: 0;
      text-align: center;

      > .maeztra-footer-bottom-images > div {
        > div {
          margin-right: 0;

          > .maeztra-footer-image-dark {
            display: none;
          }

          > .maeztra-footer-image-light {
            display: flex;
          }
        }
      } 
    }
  }
}