.maeztra-tipbar {
  margin: 0 120px 30px 120px;
  overflow-x: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }

  > h2 {
    font-family: var(--main-font-family);
    font-weight: 700;
    font-size: 16px;
    color: var(--secondary-color);
    margin: 20px;
    text-align: center;
  }

  > .maeztra-tipbar-items {
    display: flex;
    justify-content: center;
    width: 1598px;

    > .maeztra-tipbar-card {
      background-color: #EFEFEF;
      border-radius: 4px;
      margin-right: 10px;
      width: 308px;
      height: 64px;
      display: flex;

      > img {
        margin: 15px 5px 0 15px;
        width: 32px;
        height: 32px;
      }

      > .maeztra-tipbar-card-text {
        display: block;
        margin: 6px 0 0 6px;

        > span {
          font-family: var(--main-font-family);
          font-weight: 700;
          font-size: 14px;
          color: var(--secondary-color);
        }

        > p {
          margin: 0;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .maeztra-tipbar {
    margin: 0;

    > .maeztra-tipbar-items {
      margin: 0 80px;
    }
  }
}